{{template "test_header.tmpl" .}}

<body class="vertical  dark  ">
  <div class="wrapper">
    {{template "test_nav.tmpl" .}}
    {{template "test_aside.tmpl" .}}
    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="row align-items-center mb-2">
              <div class="col">
                <h5 class="h5 page-title">Hello Firstname!</h5>
                <div class="d-flex align-items-center">
                  <h1 class="page-title mb-0" style="display: inline; margin-right: 20px;">Your Celebrants</h1>
                  <button type="submit" class="btn btn-primary">Add New Celebrant</button>
                </div>
              </div>
            </div>
            <div class="mb-2 align-items-center">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="search" placeholder="Search..." disabled>
                </div>
                <div class="form-group col-md-4">
                  <select id="inputState5" class="form-control" disabled>
                    <option selected="">Filter...</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Celebrant Grid -->
            <div class="row">
              <div class="col-md-3">
                <div class="card shadow mb-4">
                  <div class="card-body text-center p-0">
                    <div class="avatar avatar-lg mt-4">
                      <a href="">
                        <img src="/static/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="card-text my-2">
                      <strong class="card-title my-0">Bass Wendy </strong>
                      <p class="small text-muted mb-0">email@email.com</p>
                      <p class="small mb-0"><span class="badge badge-light text-muted">Events: 1</span></p>
                      <p class="small"><span class="badge badge-light text-muted">Pages: 3</span></p>
                    </div>
                  </div> <!-- ./card-text -->
                  <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                        <small>
                          <a href="/userid/celebrantid">
                            <button class="btn btn-sm btn-primary">View More</button>
                          </a>
                        </small>
                      </div>
                      <div class="col-auto">
                        <div class="file-action">
                          <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted sr-only">Action</span>
                          </button>
                          <div class="dropdown-menu m-2">
                            <a class="dropdown-item" href="#"><i class="fe fe-info fe-12 mr-4"></i>See More Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-edit fe-12 mr-4"></i>Edit Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-square fe-12 mr-4"></i>Add Event</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-circle fe-12 mr-4"></i>Add Page</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.card-footer -->
                </div>
              </div> <!-- .col -->
              <div class="col-md-3">
                <div class="card shadow mb-4">
                  <div class="card-body text-center p-0">
                    <div class="avatar avatar-lg mt-4">
                      <a href="">
                        <img src="/static/assets/avatars/face-2.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="card-text my-2">
                      <strong class="card-title my-0">Bass Wendy </strong>
                      <p class="small text-muted mb-0">email@email.com</p>
                      <p class="small mb-0"><span class="badge badge-light text-muted">Events: 1</span></p>
                      <p class="small"><span class="badge badge-light text-muted">Pages: 3</span></p>
                    </div>
                  </div> <!-- ./card-text -->
                  <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                        <small>
                          <button class="btn btn-sm btn-primary">View More</button>
                        </small>
                      </div>
                      <div class="col-auto">
                        <div class="file-action">
                          <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted sr-only">Action</span>
                          </button>
                          <div class="dropdown-menu m-2">
                            <a class="dropdown-item" href="#"><i class="fe fe-info fe-12 mr-4"></i>See More Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-edit fe-12 mr-4"></i>Edit Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-square fe-12 mr-4"></i>Add Event</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-circle fe-12 mr-4"></i>Add Page</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.card-footer -->
                </div>
              </div> <!-- .col -->
              <div class="col-md-3">
                <div class="card shadow mb-4">
                  <div class="card-body text-center p-0">
                    <div class="avatar avatar-lg mt-4">
                      <a href="">
                        <img src="/static/assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="card-text my-2">
                      <strong class="card-title my-0">Bass Wendy </strong>
                      <p class="small text-muted mb-0">email@email.com</p>
                      <p class="small mb-0"><span class="badge badge-light text-muted">Events: 1</span></p>
                      <p class="small"><span class="badge badge-light text-muted">Pages: 3</span></p>
                    </div>
                  </div> <!-- ./card-text -->
                  <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                        <small>
                          <button class="btn btn-sm btn-primary">View More</button>
                        </small>
                      </div>
                      <div class="col-auto">
                        <div class="file-action">
                          <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted sr-only">Action</span>
                          </button>
                          <div class="dropdown-menu m-2">
                            <a class="dropdown-item" href="#"><i class="fe fe-info fe-12 mr-4"></i>See More Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-edit fe-12 mr-4"></i>Edit Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-square fe-12 mr-4"></i>Add Event</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-circle fe-12 mr-4"></i>Add Page</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.card-footer -->
                </div>
              </div> <!-- .col -->
              <div class="col-md-3">
                <div class="card shadow mb-4">
                  <div class="card-body text-center p-0">
                    <div class="avatar avatar-lg mt-4">
                      <a href="">
                        <img src="/static/assets/avatars/face-4.jpg" alt="..." class="avatar-img rounded-circle">
                      </a>
                    </div>
                    <div class="card-text my-2">
                      <strong class="card-title my-0">Bass Wendy </strong>
                      <p class="small text-muted mb-0">email@email.com</p>
                      <p class="small mb-0"><span class="badge badge-light text-muted">Events: 1</span></p>
                      <p class="small"><span class="badge badge-light text-muted">Pages: 3</span></p>
                    </div>
                  </div> <!-- ./card-text -->
                  <div class="card-footer">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                        <small>
                          <button class="btn btn-sm btn-primary">View More</button>
                        </small>
                      </div>
                      <div class="col-auto">
                        <div class="file-action">
                          <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-muted sr-only">Action</span>
                          </button>
                          <div class="dropdown-menu m-2">
                            <a class="dropdown-item" href="#"><i class="fe fe-info fe-12 mr-4"></i>See More Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-edit fe-12 mr-4"></i>Edit Info</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-square fe-12 mr-4"></i>Add Event</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-plus-circle fe-12 mr-4"></i>Add Page</a>
                            <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /.card-footer -->
                </div>
              </div> <!-- .col -->
            </div>
          </div> <!-- .col-12 -->
        </div> <!-- .row -->
      </div> <!-- .container-fluid -->
    </main> <!-- main -->
  </div> <!-- .wrapper -->

  {{template "scripts.tmpl"}}
  <script>
    /* defind global options */
    Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
    Chart.defaults.global.defaultFontColor = colors.mutedColor;
  </script>
  <script>
    $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
    $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
    $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
    $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
    /** date range picker */
    if ($('.datetimes').length) {
      $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
    }
    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
    cb(start, end);
    $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "__/__/____"
      });
    $('.input-zip').mask('00000-000',
      {
        placeholder: "____-___"
      });
    $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
    $('.input-phoneus').mask('(000) 000-0000');
    $('.input-mixed').mask('AAA 000-S0S');
    $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "___.___.___.___"
      });
    // editor
    var editor = document.getElementById('editor');
    if (editor) {
      var toolbarOptions = [
        [
          {
            'font': []
          }],
        [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [
          {
            'header': 1
          },
          {
            'header': 2
          }],
        [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
        [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
        [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
        [
          {
            'direction': 'rtl'
          }], // text direction
        [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
        [
          {
            'align': []
          }],
        ['clean'] // remove formatting button
      ];
      var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
    }
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <script>
    var uptarg = document.getElementById('drag-drop-area');
    if (uptarg) {
      var uppy = Uppy.Core().use(Uppy.Dashboard,
        {
          inline: true,
          target: uptarg,
          proudlyDisplayPoweredByUppy: false,
          theme: 'dark',
          width: 770,
          height: 210,
          plugins: ['Webcam']
        }).use(Uppy.Tus,
          {
            endpoint: 'https://master.tus.io/files/'
          });
      uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
      });
    }
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
  </script>
</body>

</html>