{{template "test_header.tmpl"}}
  <body class="dark ">
    <div class="wrapper vh-100">
      <div class="row align-items-center h-100">
        <div class="notifier">
        {{with .Flash}}
          <div class="text-center p-2 bg-light">
              <span>{{.}}</span>
          </div>
        {{end}}
        </div>
        <form class="col-lg-6 col-md-8 col-10 mx-auto" action="/signup" method="post">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <div class="mx-auto text-center my-4">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
              <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
            </a>
            <h2 class="my-3">Register</h2>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">Firstname</label>
              <input type="text" id="firstname" class="form-control" value="{{ .FormData.Get "firstname" }}" name="firstname">
              <div class="invalid-feedback d-block">
                {{ with .ErrorsFromForm.firstname }}
                {{.}}
                {{end}}
            </div>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Lastname</label>
              <input type="text" id="lastname" class="form-control" value="{{ .FormData.Get "lastname" }}" name="lastname">
              <div class="invalid-feedback d-block">
                {{ with .ErrorsFromForm.lastname }}
                {{.}}
                {{end}}
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="{{ .FormData.Get "email" }}" name="email">
            <div class="invalid-feedback d-block">
              {{ with .ErrorsFromForm.email }}
              {{.}}
              {{end}}
          </div>
          </div>
          <hr class="my-4">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" value="{{ .FormData.Get "password" }}" name="password">
                <div class="invalid-feedback d-block">
                  {{ with .ErrorsFromForm.password }}
                  {{.}}
                  {{end}}
              </div>
              </div>
              <div class="form-group">
                <label for="repeatedPassword">Confirm Password</label>
                <input type="password" class="form-control" id="repeatedPassword" value="{{ .FormData.Get "repeatedPassword" }}" name="repeatedPassword">
                <div class="invalid-feedback d-block">
                  {{ with .ErrorsFromForm.repeatedPassword }}
                  {{.}}
                  {{end}}
              </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mb-2">Password requirements</p>
              <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
              <ul class="small text-muted pl-4 mb-0">
                <li> Minimum 8 character </li>
                <li>At least one special character</li>
                <li>At least one number</li>
                <li>Can’t be the same as a previous password </li>
              </ul>
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          <p class="mt-5 mb-3 text-muted text-center">© 2024</p>
        </form>
      </div>
    </div>
    {{template "scripts.tmpl"}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>
</body>
</html>